[defaults]
private_key_file = ~/.ssh/id_rsa
host_key_checking = false
fact_caching = jsonfile
fact_caching_connection = ./.cache/ansible_facts
fact_caching_timeout = 86400
gathering = smart
interpreter_python = auto
log_path = /var/log/ansible.log
deprecation_warnings = false
ansible_user = eshnnsessyn

[connection]
pipelining = true

[inventory]
enable_plugins = yaml, ini
